<section id="cash-view" >
  <div class="container">

    <div class="bar-title row">
      <div class="col-xs-6">
        <h1>Caixa</h1>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-info" ng-click="cash_ctrl.add_item()" title="Adicionar item">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <div>
      <redt_select
        config="cash_ctrl.select_config"
        ng-model="cash_ctrl.products"
      ></redt_select>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span>Itens</span>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <td>Qtd.</td>
                  <td>Produto</td>
                  <td>Valor Unitário</td>
                  <td>Valor Total</td>
                </tr>
              </thead>
              <tbody>
                <tr nr-repeat="">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-credit-card"></span>
            <span>Formas da pagamento</span>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <td>Forma</td>
                  <td>Parcelas</td>
                  <td>Valor</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span>
            <span>Cliente</span>
          </div>
          <div class="panel-body">
            <select name="" id="" class="form-control"></select>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-usd"></span>
            <span>Total</span></div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="text-left text-bold">SUBTOTAL:</span>
                <span class="text-right">R$ 0,00</span>
              </li>
              <li class="list-group-item">
                <span class="text-left text-bold">DESCONTOS:</span>
                <span class="text-right">R$ 0,00</span>
              </li>
              <li class="list-group-item">
                <span class="text-left text-bold">PAGAMENTOS:</span>
                <span class="text-right">R$ 0,00</span>
              </li>
              <li class="list-group-item">
                <span class="text-left text-bold">TROCO:</span>
                <span class="text-right">R$ 0,00</span>
              </li>
              <li class="list-group-item">
                <span class="text-left text-bold">TOTAL A PAGAR:</span>
                <span class="text-right">R$ 0,00</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span>
          <span>Finalizar</span>
        </button>
        <button class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>
          <span>Cancelar</span>
        </button>
      </div>
    </div>

  </div>


</section>