<section id="cash-view" >
  <div class="container">

    <div class="bar-title row">
      <div class="col-xs-6">
        <h1>Caixa</h1>
      </div>
    </div>

    <div>
      <redt_select
        config="cash_ctrl.select_config"
        ng-model="cash_ctrl.products"
      ></redt_select>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fas fa-user-tag"></i>
                <b>Vendedor(a)</b>
              </div>
              <div class="panel-body">
                <ui-select ng-model="seller" theme="bootstrap" style="width: 100%">
                  <ui-select-match>
                    <span>{{ $select.selected.name }}</span>
                  </ui-select-match>
                  <ui-select-choices repeat="seller in (cash_ctrl.sellers | filter: $select.search) track by seller.name">
                    <span>{{ seller.name }}</span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fas fa-user"></i>
                <b>Cliente</b>
              </div>
              <div class="panel-body">
                <ui-select ng-model="client" theme="bootstrap" style="width: 100%">
                  <ui-select-match>
                    <span>{{ $select.selected.name }}</span>
                  </ui-select-match>
                  <ui-select-choices repeat="client in (cash_ctrl.clients | filter: $select.search) track by client.name">
                    <span>{{ client.name }}</span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fas fa-shopping-cart"></i>
                <b>Produtos</b>
              </div>
              <div class="panel-body form-inline">
                <div class="form-group">
                  <label for="product">Produto</label>
                  <ui-select ng-model="product" theme="bootstrap" style="width: 300px">
                    <ui-select-match>
                      <span>{{ $select.selected.code}} - {{ $select.selected.description}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="product in (cash_ctrl.products | filter: $select.search) track by product.code">
                      <span>{{ product.code }} - {{ product.description }}</span>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <div class="form-group">
                  <label for="quantity">Quantidade</label>
                  <input type="number" class="form-control" id="quantity">
                </div>
                <button type="submit" class="btn btn-info">
                  <i class="fa fa-plus"></i>
                  <span>Adicionar</span>
                </button>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <td>Qtd.</td>
                    <td>Produto</td>
                    <td>Valor Unitário</td>
                    <td>Valor Total</td>
                  </tr>
                </thead>
                <tbody>
                  <tr nr-repeat="">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer text-right">
                <span><b>Desconto:</b> R$ 0,00</span>
                <span><b>Total:</b> R$ 0,00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fas fa-credit-card"></i>
            <b>Formas da pagamento</b>
          </div>
          <div class="panel-body form-inline">
            <div class="form-group">
              <label for="product">Forma</label>
              <ui-select ng-model="payment_method" theme="bootstrap" style="width: 200px">
                <ui-select-match>
                  <span>{{ $select.selected.description}}</span>
                </ui-select-match>
                <ui-select-choices repeat="payment_method in (cash_ctrl.payment_methods | filter: $select.search) track by payment_method.description">
                  <span>{{ payment_method.description }}</span>
                </ui-select-choices>
              </ui-select>
            </div>
            <button type="submit" class="btn btn-info">
              <i class="fa fa-plus"></i>
              <b>Adicionar</b>
            </button>
          </div>
          <table class="table">
            <thead>
              <tr ng-repeat="">
                <td>Forma</td>
                <td>Parcelas</td>
                <td>Valor</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-dollar-sign"></i>
            <b>Total</b>
          </div>
          <table id="collapseTable" class="table">
            <tr>
              <td>SUBTOTAL:</td>
              <td class="text-right">R$ 0,00</td>
            </tr>
            <tr>
              <td>DESCONTOS:</td>
              <td class="text-right">R$ 0,00</td>
            </tr>
            <tr>
              <td>PAGAMENTOS:</td>
              <td class="text-right">R$ 0,00</td>
            </tr>
            <tr>
              <td>TROCO:</td>
              <td class="text-right">R$ 0,00</td>
            </tr>
            <tr>
              <td>TOTAL A PAGAR:</td>
              <td class="text-right">R$ 0,00</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <button class="btn btn-success">
          <i class="fa fa-check"></i>
          <span>Finalizar</span>
        </button>
        <button class="btn btn-danger">
          <i class="fa fa-times"></i>
          <span>Cancelar</span>
        </button>
      </div>
    </div>

  </div>


</section>