<!-- Login Section -->
<section id="login-section">
  <div class="container">

    <div class="center-content">

      <div class="logo">
        <img src="assets/images/incall_logo.png" class="logo-incall-square">
      </div>
      <!-- /.logo -->

      <div class="login-box">
        <div>
          <span ng-repeat="error in change_password_ctrl.errors
            track by $index"
          >
            {{ error }}
          </span>
        </div>
        <form
          name="change_password_ctrl.change_password_form"
          ng-submit="change_password_ctrl.change_password()"
          novalidate
        >
          <div class="form-top group">


            <div class="row">

              <div class="user side">
                <div class="l-box">
                  <h3>Usuário</h3>
                  <input
                          name="username"
                          type="text"
                          ng-model="change_password_ctrl.username"
                          placeholder="Insira seu login"
                          class="input-login"
                          required
                  />
                  <small
                          id="username_required_error"
                          class="error"
                          ng-show="(
                    change_password_ctrl[
                      'change_password_form'
                    ].username.$dirty ||
                    change_password_ctrl[
                      'change_password_form'
                    ].$submitted ) &&
                    change_password_ctrl[
                      'change_password_form'
                    ].username.$error.required"
                          translate
                  >Campo obrigatório</small>
                </div>
              </div>
              <div class="pass side">
                <div class="l-box">
                  <h3>Senha atual</h3>
                  <input
                          name="current_password"
                          type="password"
                          ng-model="change_password_ctrl.current_password"
                          placeholder="Insira sua senha atual"
                          class="input-login"
                          required
                  />
                  <small
                          id="current_password_required_error"
                          class="error"
                          ng-show="(
                    change_password_ctrl[
                      'change_password_form'
                    ].current_password.$dirty ||
                    change_password_ctrl[
                      'change_password_form'
                    ].$submitted ) &&
                    change_password_ctrl[
                      'change_password_form'
                    ].current_password.$error.required"
                          translate
                  >Campo obrigatório</small>
                </div>
              </div>

            </div>
            <!-- /.row -->

            <div class="row">
              <div class="user side">
                <div class="l-box">
                  <h3>Nova senha</h3>
                  <input
                          name="new_password"
                          type="password"
                          ng-model="change_password_ctrl.new_password"
                          placeholder="Insira sua nova senha"
                          class="input-login"
                          ng-change="change_password_ctrl.password_confirm()"
                          required
                  />
                  <small
                          id="new_password_required_error"
                          class="error"
                          ng-show="(
                    change_password_ctrl[
                      'change_password_form'
                    ].new_password.$dirty ||
                    change_password_ctrl[
                      'change_password_form'
                    ].$submitted ) &&
                    change_password_ctrl[
                      'change_password_form'
                    ].new_password.$error.required"
                          translate
                  >Campo obrigatório</small>
                  <small
                          id="new_password_password_mismatch_error"
                          class="error"
                          ng-show="(
                    change_password_ctrl[
                      'change_password_form'
                    ].new_password.$dirty ||
                    change_password_ctrl[
                      'change_password_form'
                    ].$submitted ) &&
                    change_password_ctrl.password_mismatch &&
                    !change_password_ctrl[
                      'change_password_form'
                    ].new_password.$error.required"
                          translate
                  >Nova senha diferente da confirmação</small>
                </div>
              </div>
              <div class="pass side">
                <div class="l-box">
                  <h3>Confirme a nova senha</h3>
                  <input
                          name="new_password_confirm"
                          type="password"
                          ng-model="change_password_ctrl.new_password_confirm"
                          placeholder="Confirme sua nova senha"
                          class="input-login"
                          ng-change="change_password_ctrl.password_confirm()"
                          required
                  />
                  <small
                          id="new_password_confirm_required_error"
                          class="error"
                          ng-show="(
                    change_password_ctrl[
                      'change_password_form'
                    ].new_password_confirm.$dirty ||
                    change_password_ctrl[
                      'change_password_form'
                    ].$submitted ) &&
                    change_password_ctrl[
                      'change_password_form'
                    ].new_password_confirm.$error.required"
                          translate
                  >Campo obrigatório</small>
                  <small
                          id="new_password_confirm_password_mismatch_error"
                          class="error"
                          ng-show="(
                    change_password_ctrl[
                      'change_password_form'
                    ].new_password_confirm.$dirty ||
                    change_password_ctrl[
                      'change_password_form'
                    ].$submitted ) &&
                    change_password_ctrl.password_mismatch &&
                    !change_password_ctrl[
                      'change_password_form'
                    ].new_password_confirm.$error.required"
                          translate
                  >Nova senha diferente da confirmação</small>
                </div>
              </div>
            </div>
            <!-- /.row -->

          </div>
          <!-- /.form-top -->
          <div class="form-bottom group">
            <div class="enter">
              <button class="btn btn-login">Enviar</button>
            </div>
            <div class="enter cancel">
              <button
                class="btn btn-login"
                type="button"
                ng-click="change_password_ctrl.cancel()"
              >Cancelar</button>
            </div>
          </div>
          <!-- /.form-bottom -->
        </form>

      </div>
      <!-- /.login-box -->

    </div>
    <!-- /.center-content -->

  </div>
  <!-- /.container -->
</section>
<!-- /#login-section  -->
