<section id="edit-section" class="show">
  <div class="container">

    <div class="center-content">

      <h2
        ng-if="contact_edit_ctrl.current_state.name == 'contacts.new'"
      >Adicionar Contato</h2>
      <h2
        ng-if="contact_edit_ctrl.current_state.name == 'contacts.edit'"
      >Editar Contato</h2>

      <div class="edit-box">
        <div>
          <span ng-repeat="error in contact_edit_ctrl.errors
            track by $index"
          >
            {{ error }}
          </span>
        </div>
        <div
          class="btn-close"
          ng-click="contact_edit_ctrl.form_cancel()"
        ><img src="assets/images/window_ico_close.png"></div>
        <form
          name="contact_edit_ctrl.contact_edit_form"
          ng-submit="contact_edit_ctrl.submit()"
          novalidate
        >
          <div class="form-top group">
            <div class="form-line">
              <label>Nome</label>
              <input
                class="input-full"
                id="contact-name"
                name="contact_name"
                type="text"
                ng-model="contact_edit_ctrl.contact.name"
                required
              >
              <div
                id="contact_name_required_error"
                class="error"
                ng-show="(
                  contact_edit_ctrl[
                    'contact_edit_form'
                  ].contact_name.$dirty ||
                  contact_edit_ctrl[
                    'contact_edit_form'
                  ].$submitted ) &&
                  contact_edit_ctrl[
                    'contact_edit_form'
                  ].contact_name.$error.required"
                translate
              >Campo obrigatório</div>
            </div>

            <div class="form-line">
              <label>CPF</label>
              <input
                class="input-full"
                id="contact-cpf"
                name="contact-cpf"
                type="text"
                ng-model="contact_edit_ctrl.contact.cpf"
              >
            </div>

            <div class="form-line">
              <label>RG</label>
              <input
                id="contact-rg"
                name="contact-rg"
                type="text"
                ng-model="contact_edit_ctrl.contact.rg"
                class="input-full"
              >
            </div>
            <div class="form-line">
              <label>Email</label>
              <input
                id="contact-email"
                name="contact-email"
                type="text"
                ng-model="contact_edit_ctrl.contact.email"
                class="input-full"
              >
            </div>
            <div class="form-line">
              <label>Telefone</label>
              <input
                id="contact-phone"
                name="contact-phont"
                type="text"
                ng-model="contact_edit_ctrl.contact.phone"
                class="input-full"
              >
            </div>
             <div class="form-line">
              <label>Celular</label>
              <input
                id="contact-cellphone"
                name="contact-cellphone"
                type="text"
                ng-model="contact_edit_ctrl.contact.cellphone"
                class="input-full"
              >
            </div>

            <div class="form-line">
              <label>Endereço</label>
              <input
                id="contact-address"
                name="contact-address"
                type="text"
                ng-model="contact_edit_ctrl.contact.address"
                class="input-full"
                >
            </div>
            <div class="form-line">
              <label>Facebook</label>
              <input
                id="contact-facebook"
                name="contact-facebook"
                type="text"
                ng-model="contact_edit_ctrl.contact.facebook"
                class="input-full"
              >
            </div>
            <div class="form-line group">
              <button
                class="btn btn-update"
                ng-if="contact_edit_ctrl.current_state.name == 'contacts.new'"
              >Adicionar</button>
              <button
                class="btn btn-update"
                ng-if="contact_edit_ctrl.current_state.name == 'contacts.edit'"
              >Salvar</button>
            </div>

          </div>
          <!-- /.form-top -->
        </form>

      </div>
      <!-- /.edit-box -->
      <p
        class="obs"
        ng-if="contact_edit_ctrl.current_state.name == 'contacts.new'"
      >
        Obs: O contato adicionado só ficará disponível em sua Agenda Particular.
      </p>

    </div>
    <!-- /.center-content -->

  </div>
  <!-- /.container -->
</section>
<!-- /#table-section  -->
