<section id="recent-calls" class="show table-section">
  <div class="container">

    <div class="bar-title">
      <h1>Estoque</h1>
<!--      <button
        class="btn"
        ng-click="stock_ctrl.go_back()"
      >Contatos</button>-->
    </div>

    <div class="scroll-wrapper call">
      <table
        datatable="ng"
        dt-instance="stock_ctrl.dtInstance"
        dt-options="stock_ctrl.dtOptions"
        dt-column-defs="stock_ctrl.dtColumnDefs"
        class="row-border hover"
        cellpadding="0"
        cellspacing="0"
        border="0"
      >
        <thead>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
          <th>Tamanho</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Loja</th>
          <th>Opções</th>
        </tr>
        </thead>
        <tbody>
        <tr
          ng-repeat="product in stock_ctrl.products track by $index"
        >
          <td>{{ product.product.code }}</td>
          <td>{{ product.product.description }}</td>
          <td>{{ product.product.size }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.product.products[0].value }}</td>
          <td>{{ product.user.username }}</td>
          <td>
            <button
              type="button"
              class="btn-primary"
              ng-click="stock_ctrl.transfer(product.id)">
              
             Transferência </button>
          </td>
        </tr>
        <!--</div>-->
        </tbody>
      </table>
    </div>
    <!-- /.scroll-wrapper -->

  </div>
  <!-- /.container -->
</section>
<!-- /#recent-calls-section  -->
